.nav-item{
        font-weight: 600;
    font-size: 29px;
    color: #fff;
    
}
@media screen and (max-width:768px){
    #foot{
        font-weight: 600;
        font-size: 10px;

    }
    #new{
        margin-top: 32px;
    }
    #img1{
        width: 413px;
        height: 217px;

    }
    #lower{
        margin-top: -90px;
    }
    #first{
        font-weight: 600;
        font-size: 17px;
    }
    #second{
        font-weight: bold;
        font-size: 46px;

    }
    #thir{
        font-weight: 600;
        font-size: 10px;

    }
    #four{
        font-weight: 600;
        font-size: 12px;
        
    }
    #about{
        margin-left: 216px;
        margin-top: -306px;
    }
    #head1{
        font-weight: bold;
        font-size: 33px;
    }
    #head2{
        font-weight: 600;
        font-size: 15px;
    }
    #para{
        font-weight: 600;
        font-size: 11px
    }
    #sideimg{
        width: 245.5px;
        height: 368.11px;

    }
    .nav-item{

        font-weight: 600;
        font-size: 14px;
        padding-left: 10px;
    }
    #hed{
        margin-left: 16px;
    }

    .hed{
        padding-left: 10px;
        width: 100%;
        margin-left: 35px;
       
    
    }
    #ttvv{
        margin-left: 14px;
    }
    #wahh{
        margin-left: 11px;
    }
    
}
@media screen and (min-width:768px){
    #foot{
        font-weight: 600;
        font-size: 16px;

    }
    #img1{
        width: 800px;
        height: 420px;

    }
    #first{
        font-weight: 600;
    font-size: 29px;
    }
    #second{
        font-weight: bold;
    font-size: 95px;

    }
    #thir{
        font-weight: 600;
    font-size: 18px;

    }
    #four{
        font-weight: 600;
    font-size: 25px
    }
    #about{
        margin-left: 436px;
        margin-top: -615px;
    }
    #head1{
        font-weight: bold;
        font-size: 63px;
    }
    #head2{
        font-weight: 600;
        font-size: 30px;
    }
    #para{
        font-weight: 600;
        font-size: 17px;
    }
    #sideimg{
        width: 485.5px;
        height: 728.11px;
    }
    .nav-item{

        font-weight: 600;
        font-size: 18px;
        padding-left: 10px;
        
    }
    .hed{
        padding-left: 10px;
        width: 100%;
        margin-left: 11px;
       
    
    }
    #phon{
        margin-left: -1px;
        margin-right: 15px;
    }
    #wahh{
        margin-left: 17px;
    }
    #ttvv{
        margin-left: 23px;
    }

    
}
@media screen and (min-width:1025px){
    #foot{
        font-weight: 600;
        font-size: 37px;

    }
    #img1{
        width: 1432px;
        height: 752px;

    }
    #first{
        font-weight: 600;
        font-size: 51px;
    }
    #second{
        font-weight: bold;
        font-size: 160px;
    }
    #thir{
        font-weight: 600;
        font-size: 34px
    }
    #four{
        font-weight: 600;
        font-size: 45px;
    }
    #about{
        margin-left: 733px;
    }
    .nav-item{

        font-weight: 600;
        font-size: 23px;
        padding-left: 10px;
    }
    
}
.nav-link {
    display: flex;
    padding: -0.5rem 1rem;
}
.hed{
    padding-left: 10px;
    width: 100%;
    
   }

.sideimg{
    width: 853.5px;
    height: 1280px;
}
.head1{
    font-weight: bold;
    font-size: 98px;
}
.head2{
    font-weight: 600;
    font-size: 48px;
}
.para{
    font-weight: 600;
    font-size: 28px;
}
.first{
    font-weight: 600;
    font-size: 51px;
}
.second{
    font-weight: bold;
    font-size: 160px;
}
.thir{
    font-weight: 600;
    font-size: 34px
}
.four{
    font-weight: 600;
    font-size: 45px;
}
.lower{
    margin-top: -221px;
}
.new{
    margin-top: 90px;
}